<!-- <h2>The post create component</h2> -->

<mat-card>
  <mat-form-field>
    <!-- <textarea rows="6" [value]="'Test'"></textarea> -->
    <!-- <textarea rows="6" [value]="newPost" #postInput></textarea> -->
    <!-- Two way binding feature -->
    <textarea matInput rows="6" [(ngModel)]="enteredValue"></textarea>
  </mat-form-field>

  <!-- Event binding -->
  <!-- <button (click)="onAddPost(postInput)">Save Post</button> -->
  <button mat-raised-button color="primary" (click)="onAddPost()">Save Post</button>
</mat-card>

<!-- String interpolation -->
<p>{{ newPost }}</p>
