<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="(totalPosts > 0) && (!isLoading)">
  <mat-expansion-panel *ngFor="let postvar of posts">
    <mat-expansion-panel-header>
      {{ postvar.title }}
    </mat-expansion-panel-header>
    <p>{{ postvar.content }}</p>
    <div class="image-preview">
      <img [src]="postvar.imagePath" [alt]="postvar.title">
    </div>
    <mat-action-row>
      <a mat-button [routerLink]="['/edit', postvar.id]" routerLinkActive="router-link-active" color="primary">Edit</a>
      <button mat-button color="warn" (click)="onDelete(postvar.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<!-- <p class="info-text mat-body-1" *ngIf="(posts.length <= 0) && (!isLoading)">No posts added yet!</p> -->
<p class="info-text mat-body-1" *ngIf="(totalPosts <= 0) && (!isLoading)">No posts added yet!</p>

<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="totalPosts > 0"></mat-paginator>
